@{
    ViewData["Title"] = "Home";
}
<img src="/images/KhumaloCraftsHomeBanner.jpg" alt="Home Banner" class="banner" />

<div class="container">
    <p>Welcome to KhumaloCraft Emporium, your one-stop shop for unique and handmade ceramic pottery. Each piece in our collection is a work of art, meticulously crafted by skilled artisans who have honed their craft over many years. Our pottery pieces are not just functional, they are also aesthetically pleasing, making them perfect additions to your home or office decor.</p>

    <p>From vases and bowls to mugs and plates, our diverse range of pottery products ensures that there is something for everyone. Whether you're looking for a statement piece to enhance your living room, a unique gift for a loved one, or functional pottery for everyday use, you're sure to find it in our collection.</p>

    <p>We believe in the power of handmade crafts and the unique charm they bring. Each of our pottery pieces tells a story - of the clay, the artisan, and the culture it comes from. When you purchase from KhumaloCraft Emporium, you're not just buying pottery, you're bringing a piece of this story into your own space.</p>

    <p>Browse our collection today and find the perfect piece that speaks to you. We look forward to helping you find the perfect pottery piece that will add a touch of elegance and uniqueness to your space.</p>
</div>
